body {
    margin: 0;
    margin-top: 50px;
    font-family: "Georgia", serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #FFFFFF;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

ul {
  list-style-type: circle;
}
ol {
  list-style-type: upper-roman;
}

section {
    height: 115vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    text-align: center;
    padding: 30px;
    background: #444444;
    height: 20px;
    color: #FFFFFF;
}

#home h1 {
    font-size: 3em;
}

section h2 {
    font-size: 2.5em;
}

header a {
    text-decoration: none;
    color: black;
}

#home {
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)), url('Images/Trees.jpg');
}

#facts {
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)), url('Images/Pollution.jpg');
}

#solution {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('Images/Ocean.jpg');
}

#orgs {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('Images/Sunset.jpg');
}

@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
